*~
/build/
/ckmame-*.tar.*
/compile_commands.json
cov-int/
xcode/ckmame.xcodeproj/project.xcworkspace/xcshareddata
xcode/ckmame.xcodeproj/project.xcworkspace/xcuserdata
xcode/ckmame.xcodeproj/xcuserdata
