*.a
*.db
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.log
*.o
*.trs
*~
.DS_Store
.deps
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build/
ckmame-*.tar.*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cov-int/
depcomp
docs/mkmamedb.1
install-sh
libtool
ltmain.sh
m4/
missing
regress/.*.db
regress/.*.log
regress/.*.trs
regress/dbdump
regress/dbrestore
regress/runtest
regress/sandbox
src/ckmame
src/dbh_statements.[ch]
src/detective
src/dumpgame
src/mamedb
src/mkmamedb
stamp-h1
test-driver
xcode/ckmame.xcodeproj/project.xcworkspace/xcshareddata
xcode/ckmame.xcodeproj/project.xcworkspace/xcuserdata
xcode/ckmame.xcodeproj/xcuserdata
